.ul{
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
    list-style: none;
}

.botonpersonalizado {
    text-decoration:none;
    font-weight:12px;
    font-size:15px;
    color:#080101;
    padding: 12px;
    background-color :#784fe7;
    border-radius: 00.5rem;
    transition: transform .7s;
    border-color: #080101;
    height: 15px;
    width: 15px;
    flex-direction: row;
    list-style: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

    
.botonpersonalizado:hover{
     transform: scale(1.05) ;
     background:#784fe7;
     box-shadow: 0 0 10px #0c0c0b ;
     transition-delay: .2s;
     color: rgb(7, 7, 1);  
    }
    
.botonpersonalizado:active{
    
     background:#11072c;
     box-shadow: 0 0 10px #0c0c0b ;
     cursor: pointer;
     color: rgb(12, 12, 1);
}