.ul{
    
    align-items: center;
    justify-content: center;
    flex-direction: row;
   display: flex;
    list-style: none;
    
    
}

.botonpersonalizado {
    text-decoration:none;
    font-weight:12px;
    font-size:12px;
    color:#080101;
    padding: 12px;
    background-image : url('https://i.pinimg.com/originals/f4/9f/c2/f49fc2b84053fe6b121dc44048d0826f.gif');
    border-radius: 00.5rem;
    transition: transform .7s;
    border-color: #080101;
    height: 15px;
    width: 15px;
    flex-direction: row;
    list-style: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    }

    
.botonpersonalizado:hover{
        transform: scale(1.05) ;
        background:#784fe7;
        box-shadow: 0 0 10px #0c0c0b ;
        transition-delay: .2s;
        color: rgb(7, 7, 1);
        
        
    }