.background {
    background-image: url("https://i.pinimg.com/originals/4a/f9/7b/4af97be15a1edae3f1b61cdb0a60d30a.gif");
    background-position: center; 
    background-size :cover ;
    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden;
    height: 100%; 
    position:fixed  
}


.button {
    background-color: transparent;
    flex-direction: column;
    color: #ffff;
    font-size: 25px;
    font-family: Lato, Arial, Helvetica, sans-serif;
    border-radius: 9999px;
    border: #784fe7 solid 3px;
    padding: 25px;
    cursor: pointer;
    transition-duration: 0.4s;
    margin-top: 18rem;
    margin-left: 45%;
    display: inline-block;
}

.button:hover {
    background-color: #fff;
    color: #130902;
    transition-delay: 0.2s;
    transition: 0.8s;
}